h2 {
    color: powderblue;

}
h1 {
    color: powderblue;
}
body {
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    border: 1px solid #ccc;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 0px;

}
td {
    margin: 10px 0;
    padding: 5px 10px;
    color: #00ced1;
    border: 1px solid #00ced1;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;

}

.main_menu {
     display: inline;
}
.button_maggin_border {
    border: 1px solid powderblue;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
.button_maggin_grey {
    margin-left: 10%;
    border: 1px solid grey;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}

.button_maggin_grey_2{
    margin-left: 1%;
    border: 1px solid grey;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
.button_maggin_red {
    margin-left: 10%;
    border: 1px solid #b22222;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}
.margin_lot {
    width: 400px;
    border: 1px solid #2e8b57;
    border-top-width: 2px;
    border-left-width:2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.margin_field {
    width: 173px;
    border: 1px solid #00ced1;
    border-top-width: 2px;
    border-left-width:2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.margin_gree_button {
    margin-top: 5%;
    width: 170px;
    border: 1px solid #0000ff;
    border-top-width: 2px;
    border-left-width:2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}
.center {
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}
.color_text {
    color: black;
}
.letter { 
     color: red; 
     font-size: 200%; 
     font-family: serif; 
     position: relative;  
    }
.offset_custom {
    margin-left: 40%;
}